
/* HR */
hr.separador {
    border-top: 1px solid #8c8b8b;
}
/*FECHA NOTICIA BORDE*/
.separador-fecha {
    margin-top: 4px;
    margin-bottom: 4px;
    border-top: 2px solid #8c8b8b;
    border-bottom: 2px solid #8c8b8b;
    font-weight: bold;
}
/*CORRIGE PERDIDA DE SCROLL EN ABRIR MODAL CON MODAL*/
.modal { overflow: auto !important; }


.truncate-cell {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

@media (min-width: 640px) {
	.truncate-cell {
		max-width:200px;
	}
}

@media (max-width: 640px) {
	.truncate-cell {
		max-width:140px;
	}
}

.form-group.required .control-label:after { 
    content: "*";
    color: #f00;
}

@media (min-width: 905px) {
  .large-modal  .modal-content {
       width: 800px;
        margin: 30px -100px !important;
    }
}

textarea {
    resize : vertical;
}

#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/*TABLAS RESPONSIVA (NO-MORE-TABLES)*/
/*http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table*/
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid #ccc; }
 
	#no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;

        /*corrige trucate cell*/
        overflow: visible;
	}
 
	#no-more-tables td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
}
	/*
	Label the data
        se reemplaza  attr(data-title) para grid.mvc
	*/
	#no-more-tables td:before { content: attr(data-name); }
}

.form-horizontal .control-label{
  text-align:left !important;
}