<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<!--PSSIM-->
<configuration>
  <configSections>
    <section name="singleSignOn" type="Minvu.Security.Configuration.SingleSignOnConfigurationSection, Minvu.Security" />
  </configSections>
  <singleSignOn applicationName="Administrador Portal DOM en Línea" entryPoint="http://desarrollo.domenlinea.minvu.cl" cookieDomain="" cookiePath="/" cookieName="DOMLocal" cookieValue="DOMSSOTicket" connectionStringName="SSOSession" ssoErrorURL="http://usuariospssim.minvu.cl/Error" ssoPortalURL="Sesion/Ingreso.aspx" excludePaths="Sesion" ticketExpirationHours="24" extensionsToIntercept=".aspx;.asp;.html" extensionsToExclude=".jpg;.gif;.png;.css;.js;" allowConcurrentSessions="false" sessionVerificationTimeSpanSecs="5" lastAccessUpdateTimeSpanSecs="2" useWebServerAuthNSection="false" defaultNetwork="Intranet" useFormsAuthEncryption="false" maxTicketAgeForTRTimeSpanSecs="20" useMembershipProviders="true" maxOldTimestamps="5">
    <networks>
      <add name="Intranet" domain="MINVU_NT" membershipProviderName="MinvuADDS" identityType="Internal" connectionStringName="AD-DS" />
    </networks>
  </singleSignOn>

  <connectionStrings>
    <add name="PssimEntities" connectionString="metadata=res://*/PSSIMModel.csdl|res://*/PSSIMModel.ssdl|res://*/PSSIMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=maat\desarrollo;initial catalog=Minvu.Security.Db;persist security info=True;user id=userpssim;password=userpssim;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SSOSession" connectionString="Data Source=MAAT\DESARROLLO;Initial Catalog=Minvu.Security.Db.Session;Integrated Security=False;User ID=userpssim;Password=userpssim;" />
    <add name="PSSIMDB" connectionString="Data Source=MAAT\DESARROLLO;Initial Catalog=Minvu.Security.Db;Integrated Security=False;User ID=userpssim;Password=userpssim;" />
    <add name="AD-DS" connectionString="LDAP://minvu.cl/DC=minvu,DC=cl" />
  </connectionStrings>
  <!--PSSIM-->
  
  <appSettings>
    <!--Servicios webApiDom-->
    <add key="BaseUrlWebApi" value="http://webapidomdesa/api/" />

    <!--Otras configuraciones-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="Paging" value="10" />
    <add key="MinimoContenidoPrincipal" value="2" />
    <add key="MaximoContenidoPrincipal" value="4" />

    <add key="UriImagenLogo" value="/Content/Img/logo-preview/logo-dom{0}" />
    <add key="UploadDirLogo" value="G:\SitiosWeb\Minvu0013\OficinaDom\Content\Img\logo\" />
    <add key="UploadDirContenidoPrincipal" value="G:\SitiosWeb\Minvu0013\OficinaDom\Content\Img\principal\" />
    <add key="UploadDir" value="G:\SitiosWeb\Minvu0013\OficinaDom\Content\Img\Noticia" />
    <add key="UploadDirOrganismo" value="G:\SitiosWeb\Minvu0013\OficinaDom\Content\Img\Organismo" />

    <!--Opciones de configuracion para validacion de usuario -->
    <add key="Enviroment" value="dummy" />
    <add key="RutDummy" value="12345678" />
    <add key="UserDummy" value="UserTest" />
    <add key="PageLogin" value="~/Views/Shared/Error.cshtml" />
    
    
  </appSettings>
  <system.web>
    <!--PSSIM-->
    <siteMap>
      <providers>
        <add name="PssimSiteMap" type="Minvu.Security.MinvuAppSiteMapProvider, Minvu.Security" securityTrimmingEnabled="true" cacheDuration="0" />
      </providers>
    </siteMap>
    <machineKey validationKey="6271203F2B2B54E1B23F986F6BA104E7A5602BF1F0CB3E895349965B45CC47409D11851C18CC81ABAFEE2B6D64E04951E752E1CD3240E3A2E04C8AE9C90AF9E2" decryptionKey="3B4CF20328CF9E27968567B2370CD4144FEBB33A2E90F231" validation="SHA1" />
    <!--<httpHandlers>
      <add path="*TicketReceiver.sso" verb="GET,POST" type="Minvu.Security.TicketReceiverHttpHandler, Minvu.Security" />
    </httpHandlers>-->
    <!--<httpModules>
      <add name="PSSIMSessionControl" type="Minvu.Security.SessionControlHttpModule, Minvu.Security" />
    </httpModules>-->
    <membership defaultProvider="MinvuADDS">
      <providers>
        <add name="MinvuADDS" type="System.Web.Security.ActiveDirectoryMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="AD-DS" connectionProtection="Secure" enableSearchMethods="true" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <authentication mode="None" />
    <!--PSSIM-->
    
    
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<authentication mode="Windows" />-->
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Error/Index">
    </customErrors>
    <globalization culture="es-CL" uiCulture="es-CL" />
  <pages>
      <namespaces>
        <add namespace="GridMvc" />
      </namespaces>
    </pages></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.webServer>
    <!-- El siguiente handler es necesario solamente para cuando el sitio funciona sobre II7 (en local no es necesario porque se trabaja con el WebServer del Visual Studio -->
    <handlers>
      <add name="sso" path="*.sso" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
    </handlers>
    <httpErrors existingResponse="PassThrough"></httpErrors>
  </system.webServer>
</configuration>
