<div class="content-header">
    <h1>Registro Usuario</h1>
</div>
<div class="content px-2">
    <blockquote class="quote-info mt-0">
        <h5 id="tip">Tip!</h5>
        <p>The <a href="https://adminlte.io/themes/v3/starter.html">starter page</a> is a good place to start building your app if you’d like to start from scratch.</p>
    </blockquote>
</div>