@using QrMvc.Models
@model QrEntityViewModel
<div class="content px-2">
    <blockquote class="quote-info mt-0">
        <h5 id="tip">MiniExcel</h5>
        <p>Pruebas MiniExcel 1.31.</p>
    </blockquote>
</div>
<div class="content px-2">
    <div class="row g-3">
        <a asp-controller="Excel" asp-action="DownloadExcel">Descargar Excel   <i class="bi bi-eye"></i></a>
    </div>
</div>