
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h3 class="title-form">Gestionar Menú</h3>
        </div>
    </div>

    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <button id="btnCreateMenu" class="btn btn-primary btn-md btn-responsive pull-right">
                Crear
            </button>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div id="MenuList">
                @Html.Action("List")
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="MenuModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/pages/menu.js")"></script>
}