

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h3 class="title-form">Gestionar Organismos</h3>
        </div>
     </div>
    <div class="row" style="margin-top:20px;">
        <div class="input-group col-sm-8 col-xs-8 col-md-8 col-lg-8 col-lg-offset-2">
            <input type="text" id="txtSearch" class="form-control" placeholder="Buscar por nombre..." />
            <span class="input-group-btn">
                <button id="btnSearch"class="btn btn-info" type="button">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <button id="btnCreateOrganism" class="btn btn-primary btn-md btn-responsive pull-right">
                Crear
            </button>
        </div>
    </div>
    <div class="row" style="margin-top:20px">

    </div>
    <div id="OrganismList">
        @Html.Action("List")
    </div>
    <div class="modal fade large-modal" tabindex="-1" role="dialog" id="OrganismModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document" data-backdrop="static">
            <div id="pageContent" class="modal-content">

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/pages/Organismo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-filestyle.js")"></script>
}
            

   

