USE [Minvu_0013_001]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Descripcion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Nombre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'IdOrganismoTipo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Logo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Icono'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Descripcion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Nombre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'CodigoComuna'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismoPadre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismoTipo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Descripcion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Imagen'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'IdNoticia'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'IdNoticiaGaleria'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'FechaPublicacion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Orden'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Destacada'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Imagen'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Cuerpo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Bajada'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Titular'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'IdNoticia'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Target'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Url'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Descripcion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Nombre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'IdMenuPadre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'IdMenu'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Usuario'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Fecha'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Browser'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Ip'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Mensaje'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Cabecera'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Clase'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Evento'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Pagina'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'TipoAuditoria'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'IdLog'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'Url'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'IdContenidoSecundario'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Url'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Icono'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Descripcion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Nombre'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'IdContenidoPrincipal'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'Activo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'Imagen'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'RutaFisica'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'IdContenidoLogo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Usuario'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Fecha'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'ValorOriginal'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Campo'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'CodigoTablaOrigen'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Tabla'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'TipoTransaccion'

GO
EXEC sys.sp_dropextendedproperty @name=N'MS_Description' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdAuditoria'

GO
/****** Object:  StoredProcedure [dbo].[USP_ORGANISMO_Select_Filtro]    Script Date: 28-02-2017 17:12:32 ******/
DROP PROCEDURE [dbo].[USP_ORGANISMO_Select_Filtro]
GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_Parent]    Script Date: 28-02-2017 17:12:32 ******/
DROP PROCEDURE [dbo].[USP_MENU_Select_Parent]
GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_Mantenedor]    Script Date: 28-02-2017 17:12:32 ******/
DROP PROCEDURE [dbo].[USP_MENU_Select_Mantenedor]
GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_HomePage]    Script Date: 28-02-2017 17:12:32 ******/
DROP PROCEDURE [dbo].[USP_MENU_Select_HomePage]
GO
ALTER TABLE [dbo].[Organismo] DROP CONSTRAINT [FK_Organismo_Organismo_Tipo]
GO
ALTER TABLE [dbo].[Organismo] DROP CONSTRAINT [FK_Organismo_Organismo]
GO
ALTER TABLE [dbo].[Noticia_Galeria] DROP CONSTRAINT [FK_Noticia_Galeria_Noticia]
GO
ALTER TABLE [dbo].[Menu] DROP CONSTRAINT [FK_Menu_Menu]
GO
/****** Object:  Index [PK_ORGANISMO_TIPO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Organismo_Tipo] DROP CONSTRAINT [PK_ORGANISMO_TIPO]
GO
/****** Object:  Index [PK_ORGANISMO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Organismo] DROP CONSTRAINT [PK_ORGANISMO]
GO
/****** Object:  Index [PK_NOTICIA_GALERIA]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Noticia_Galeria] DROP CONSTRAINT [PK_NOTICIA_GALERIA]
GO
/****** Object:  Index [PK_NOTICIA]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Noticia] DROP CONSTRAINT [PK_NOTICIA]
GO
/****** Object:  Index [PK_MENU]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Menu] DROP CONSTRAINT [PK_MENU]
GO
/****** Object:  Index [PK_LOG]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Log] DROP CONSTRAINT [PK_LOG]
GO
/****** Object:  Index [PK_CONTENIDO_SECUNDARIO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Secundario] DROP CONSTRAINT [PK_CONTENIDO_SECUNDARIO]
GO
/****** Object:  Index [PK_CONTENIDO_PRINCIPAL]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Principal] DROP CONSTRAINT [PK_CONTENIDO_PRINCIPAL]
GO
/****** Object:  Index [PK_CONTENIDO_LOGO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Logo] DROP CONSTRAINT [PK_CONTENIDO_LOGO]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_Organismo_Jerarquia]    Script Date: 28-02-2017 17:12:32 ******/
DROP FUNCTION [dbo].[ufn_Organismo_Jerarquia]
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_Menu_Jerarquia]    Script Date: 28-02-2017 17:12:32 ******/
DROP FUNCTION [dbo].[ufn_Menu_Jerarquia]
GO
/****** Object:  Table [dbo].[Organismo_Tipo]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Organismo_Tipo]
GO
/****** Object:  Table [dbo].[Organismo]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Organismo]
GO
/****** Object:  Table [dbo].[Noticia_Galeria]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Noticia_Galeria]
GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Noticia]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Menu]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Log]
GO
/****** Object:  Table [dbo].[Contenido_Secundario]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Contenido_Secundario]
GO
/****** Object:  Table [dbo].[Contenido_Principal]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Contenido_Principal]
GO
/****** Object:  Table [dbo].[Contenido_Logo]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Contenido_Logo]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 28-02-2017 17:12:32 ******/
DROP TABLE [dbo].[Auditoria]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[IdAuditoria] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[TipoTransaccion] [int] NULL,
	[Tabla] [varchar](75) NULL,
	[CodigoTablaOrigen] [numeric](9, 0) NULL,
	[Campo] [varchar](128) NULL,
	[ValorOriginal] [varchar](max) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](35) NULL,
 CONSTRAINT [PK_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[IdAuditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contenido_Logo]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenido_Logo](
	[IdContenidoLogo] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[RutaFisica] [varchar](256) NULL,
	[Imagen] [varchar](256) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contenido_Principal]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenido_Principal](
	[IdContenidoPrincipal] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NULL,
	[Descripcion] [varchar](2048) NULL,
	[Icono] [varchar](256) NULL,
	[Url] [varchar](256) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contenido_Secundario]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contenido_Secundario](
	[IdContenidoSecundario] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[Url] [varchar](256) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[IdLog] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[TipoAuditoria] [int] NULL,
	[Pagina] [varchar](256) NULL,
	[Evento] [varchar](256) NULL,
	[Clase] [varchar](256) NULL,
	[Cabecera] [varchar](256) NULL,
	[Mensaje] [varchar](max) NULL,
	[Ip] [varchar](40) NULL,
	[Browser] [varchar](75) NULL,
	[Fecha] [datetime] NULL,
	[Usuario] [varchar](35) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[IdMenu] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[IdMenuPadre] [numeric](9, 0) NULL,
	[Nombre] [varchar](75) NULL,
	[Descripcion] [varchar](2048) NULL,
	[Url] [varchar](256) NULL,
	[Target] [int] NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Noticia]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia](
	[IdNoticia] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[Titular] [varchar](256) NULL,
	[Bajada] [varchar](2048) NULL,
	[Cuerpo] [varchar](max) NULL,
	[Imagen] [varchar](256) NULL,
	[Destacada] [bit] NULL,
	[Orden] [numeric](9, 0) NULL,
	[FechaPublicacion] [datetime] NULL,
	[Activo] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Noticia_Galeria]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Noticia_Galeria](
	[IdNoticiaGaleria] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[IdNoticia] [numeric](9, 0) NULL,
	[Imagen] [varchar](256) NULL,
	[Descripcion] [varchar](2048) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organismo]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organismo](
	[IdOrganismo] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[IdOrganismoTipo] [numeric](9, 0) NULL,
	[IdOrganismoPadre] [numeric](9, 0) NULL,
	[CodigoComuna] [char](5) NULL,
	[Nombre] [varchar](75) NULL,
	[Descripcion] [varchar](512) NULL,
	[Icono] [varchar](256) NULL,
	[Logo] [varchar](256) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organismo_Tipo]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organismo_Tipo](
	[IdOrganismoTipo] [numeric](9, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](75) NULL,
	[Descripcion] [varchar](512) NULL,
	[Activo] [bit] NULL
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[ufn_Menu_Jerarquia]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE FUNCTION [dbo].[ufn_Menu_Jerarquia]() 
RETURNS TABLE 
AS
RETURN 
(
--07/02/2017 se agrega campo [Activo]
	WITH MenuCTE ([idMenu],[idMenuPadre],[Nombre],[Url],[Target],Nivel,Orden,[Activo])
	AS
	(
		SELECT 
			[idMenu]
			,[idMenuPadre]
			,[Nombre]
			,[Url]
			,[Target]
			,1
			,CAST(Right('0000' + CAST(idMenu AS NVARCHAR(100)),4) AS NVARCHAR(100))
			,[Activo]
		FROM 
			[dbo].[MENU] 
		WHERE
			idMenuPadre is null 
		UNION ALL
		SELECT 
			a.[idMenu]
			,a.[idMenuPadre]
			,a.[Nombre]
			,a.[Url]
			,a.[Target]
			,b.Nivel + 1
			,CAST(b.Orden + Right('0000' + CAST(a.idMenu AS NVARCHAR(10)),4) AS NVARCHAR(100))
			,a.Activo
		FROM 
			[dbo].[MENU] a inner join MenuCTE b
			 on a.idMenuPadre=b.idMenu
	
	)
	
	SELECT 
		[idMenu]
		,[idMenuPadre]
		,[Nombre]
		,[Url]
		,[Target]
		,Nivel
		,Orden
		,Activo
	FROM 
		MenuCTE


		
)


GO
/****** Object:  UserDefinedFunction [dbo].[ufn_Organismo_Jerarquia]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 --=============================================
 --Author:		<Author,,Name>
 --Create date: <Create Date,,>
 --Description:	<Description,,>
 --=============================================
CREATE FUNCTION [dbo].[ufn_Organismo_Jerarquia]() 
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	WITH OrganismoCTE (idorganismo, idorganismotipo, idorganismopadre, nombre, descripcion, icono, logo, activo, OrganismoTipo,Nivel,Orden)
	AS
	(
		SELECT 
			a.[idOrganismo]
			,a.[idOrganismoTipo]
			,a.[idOrganismoPadre]
			,a.[Nombre]
			,a.[Descripcion]
			,a.[Icono]
			,a.[Logo]
			,a.[Activo]
			,b.Nombre
			,1
			,CAST(Right('0000' + CAST(idOrganismo AS NVARCHAR(100)),4) AS NVARCHAR(100))
		FROM 
			[dbo].[ORGANISMO] a inner join ORGANISMO_TIPO b
			 on a.IdOrganismoTipo=b.IdOrganismoTipo
		WHERE
			a.idOrganismoPadre is null
		UNION ALL
		SELECT 
			a.[idOrganismo]
			,a.[idOrganismoTipo]
			,a.[idOrganismoPadre]
			,a.[Nombre]
			,a.[Descripcion]
			,a.[Icono]
			,a.[Logo]
			,a.[Activo]
			,b.Nombre
			,c.Nivel + 1
			,CAST(c.Orden + Right('0000' + CAST(a.idOrganismo AS NVARCHAR(10)),4) AS NVARCHAR(100))
		FROM 
			[dbo].[ORGANISMO] a inner join ORGANISMO_TIPO b
			 on a.IdOrganismoTipo=b.IdOrganismoTipo
			inner join OrganismoCTE c
			 on a.[idOrganismoPadre]=c.[idOrganismo]
	)
	
	SELECT 
		idorganismo
		,idorganismotipo
		,idorganismopadre
		,nombre
		,descripcion
		,icono
		,logo
		,activo
		,OrganismoTipo
		,Nivel
		,Orden
	FROM 
		OrganismoCTE
	
)


GO
SET IDENTITY_INSERT [dbo].[Auditoria] ON 

INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(1 AS Numeric(9, 0)), 2, N'Auditoria', CAST(1 AS Numeric(9, 0)), N'IdNoticia', N'1', CAST(N'2017-02-21T12:09:59.463' AS DateTime), N'kibernum')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(2 AS Numeric(9, 0)), 2, N'Auditoria', CAST(1 AS Numeric(9, 0)), N'Titular', N'titular 1', CAST(N'2017-02-21T12:09:59.467' AS DateTime), N'kibernum')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(3 AS Numeric(9, 0)), 2, N'Auditoria', CAST(1 AS Numeric(9, 0)), N'Bajada', N'bajada 1', CAST(N'2017-02-21T12:09:59.467' AS DateTime), N'kibernum')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(94 AS Numeric(9, 0)), 1, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-23T15:48:17.710' AS DateTime), N'System')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(98 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-23T15:50:08.450' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(102 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-23T15:50:43.477' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(381 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-27T12:24:50.803' AS DateTime), N'!usuario')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(385 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-27T12:25:03.380' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(479 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-27T14:12:29.073' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(579 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-27T14:59:51.897' AS DateTime), N'UserTest')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(583 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'\\SVR-ISWDB\Minvu0013\PortalDom\Content\Img\logo\', CAST(N'2017-02-27T14:59:55.410' AS DateTime), N'UserTest')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(870 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'G:\SitiosWeb\Minvu0013\QAOficinaDom\Content\Img\logo\', CAST(N'2017-02-27T18:02:28.337' AS DateTime), N'!usuario')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(874 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'G:\SitiosWeb\Minvu0013\QAOficinaDom\Content\Img\logo\', CAST(N'2017-02-27T18:02:36.207' AS DateTime), N'!usuario')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(878 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'G:\SitiosWeb\Minvu0013\QAOficinaDom\Content\Img\logo\', CAST(N'2017-02-27T18:02:38.023' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(900 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'G:\SitiosWeb\Minvu0013\QAPortalDom\Content\Img\logo\', CAST(N'2017-02-27T18:08:34.923' AS DateTime), N'!usuario')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(904 AS Numeric(9, 0)), 2, N'ContenidoLogo', CAST(1 AS Numeric(9, 0)), N'RutaFisica', N'G:\SitiosWeb\Minvu0013\QAPortalDom\Content\Img\logo\', CAST(N'2017-02-27T18:08:50.357' AS DateTime), N'!usuario')
GO
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(1055 AS Numeric(9, 0)), 1, N'Noticia', CAST(9 AS Numeric(9, 0)), N'Cuerpo', N'<p>Hasta la localidad de Las Papas, ubicada en la comuna de Paredones, regi&oacute;n de O&acute;Higgins, se traslad&oacute; la ministra de Vivienda y Urbanismo (Minvu), Paulina Saball, para encabezar el inicio de obras de reposici&oacute;n de viviendas para cinco familias que resultaron doblemente damnificadas, tanto por el terremoto del 27F de 2010 como por los incendios forestales que recientemente afectaron &eacute;sta y otras regiones del pa&iacute;s.<br /><br />Se trata de familias de zonas rurales de la comuna que quedaron totalmente da&ntilde;adas por los incendios forestales recientes, que son parte de los 128 afectados que dejo el fuego en la regi&oacute;n de O&acute;Higgins, de los cuales 14 familias ya han recibido tarjetas del Banco de Materiales (que permite realizar arreglos y mejoras en las viviendas que resultaron con da&ntilde;o leve) y cinco familias ya han visto iniciadas las obras de reposici&oacute;n completa de sus viviendas.</p>
<p>Junto con saludar y compartir con las familias, la ministra Saball explic&oacute; que &ldquo;este es un momento importante para las familias y para nosotros, porque a ra&iacute;z de los incendios que tr&aacute;gicamente hemos vivido el &uacute;ltimo tiempo, hemos planteado un proceso de mucha participaci&oacute;n y di&aacute;logo, buscando cautelar las particularidades del mundo rural, y este fue el primer grupo de familias con quienes nos reunimos una vez ocurrida la tragedia&rdquo;.</p>
<p>La secretaria de Estado agreg&oacute;, adem&aacute;s, que &ldquo;estamos no solamente celebrando la entrega de los subsidios e iniciando las obras, sino tambi&eacute;n impulsando un proceso de reconstrucci&oacute;n que ha sido dise&ntilde;ado en conjunto con las personas y las familias que han resultado damnificadas&rdquo;.<br /><br />Mar&iacute;a Isabel Gonz&aacute;lez, una de las beneficiarias, sostuvo que &ldquo;por fin voy a poder ver mi casita parada igual que como la ten&iacute;a antes. Ha sido bien r&aacute;pido todo gracias a todos los que han trabajado y ahora solo quiero ver mi casa terminada para poder volver&rdquo;.</p>
<p><strong><u>Espacios p&uacute;blicos</u></strong><br />Durante la jornada, la primera autoridad del Minvu inaugurar&aacute; tambi&eacute;n las obras de mejoramiento de la plaza Santiago Gij&oacute;n y otros trabajos de habilitaci&oacute;n de espacios p&uacute;blicos en la comuna de Palmilla.<br /><br />Estas obras se centraron, fundamentalmente, en mejorar las condiciones f&iacute;sicas y ambientales del n&uacute;cleo de Palmilla centro, con el fin de estimular el desarrollo econ&oacute;mico, social y cultural de la comuna, siendo la remodelaci&oacute;n de la Plaza uno de sus principales ejes. <br /><br />Se pens&oacute; como una soluci&oacute;n a los da&ntilde;os ocasionados producto del terremoto de 2010 que caus&oacute; graves da&ntilde;os en la propiedad p&uacute;blica y privada del &aacute;rea urbana de la comuna. Por otro lado, tambi&eacute;n se sum&oacute; la necesidad de una cohesi&oacute;n urbana que permitiera potenciar las actividades econ&oacute;micas y culturales propias de la localidad en su centro urbano.</p>', CAST(N'2017-02-28T11:05:41.087' AS DateTime), N'UserTest')
INSERT [dbo].[Auditoria] ([IdAuditoria], [TipoTransaccion], [Tabla], [CodigoTablaOrigen], [Campo], [ValorOriginal], [Fecha], [Usuario]) VALUES (CAST(1065 AS Numeric(9, 0)), 3, N'Noticia', CAST(9 AS Numeric(9, 0)), N'Cuerpo', N'<p>Hasta la localidad de Las Papas, ubicada en la comuna de Paredones, regi&oacute;n de O&acute;Higgins, se traslad&oacute; la ministra de Vivienda y Urbanismo (Minvu), Paulina Saball, para encabezar el inicio de obras de reposici&oacute;n de viviendas para cinco familias que resultaron doblemente damnificadas, tanto por el terremoto del 27F de 2010 como por los incendios forestales que recientemente afectaron &eacute;sta y otras regiones del pa&iacute;s.<br /><br />Se trata de familias de zonas rurales de la comuna que quedaron totalmente da&ntilde;adas por los incendios forestales recientes, que son parte de los 128 afectados que dejo el fuego en la regi&oacute;n de O&acute;Higgins, de los cuales 14 familias ya han recibido tarjetas del Banco de Materiales (que permite realizar arreglos y mejoras en las viviendas que resultaron con da&ntilde;o leve) y cinco familias ya han visto iniciadas las obras de reposici&oacute;n completa de sus viviendas.</p>
<p>Junto con saludar y compartir con las familias, la ministra Saball explic&oacute; que &ldquo;este es un momento importante para las familias y para nosotros, porque a ra&iacute;z de los incendios que tr&aacute;gicamente hemos vivido el &uacute;ltimo tiempo, hemos planteado un proceso de mucha participaci&oacute;n y di&aacute;logo, buscando cautelar las particularidades del mundo rural, y este fue el primer grupo de familias con quienes nos reunimos una vez ocurrida la tragedia&rdquo;.</p>
<p>La secretaria de Estado agreg&oacute;, adem&aacute;s, que &ldquo;estamos no solamente celebrando la entrega de los subsidios e iniciando las obras, sino tambi&eacute;n impulsando un proceso de reconstrucci&oacute;n que ha sido dise&ntilde;ado en conjunto con las personas y las familias que han resultado damnificadas&rdquo;.<br /><br />Mar&iacute;a Isabel Gonz&aacute;lez, una de las beneficiarias, sostuvo que &ldquo;por fin voy a poder ver mi casita parada igual que como la ten&iacute;a antes. Ha sido bien r&aacute;pido todo gracias a todos los que han trabajado y ahora solo quiero ver mi casa terminada para poder volver&rdquo;.</p>
<p><strong><u>Espacios p&uacute;blicos</u></strong><br />Durante la jornada, la primera autoridad del Minvu inaugurar&aacute; tambi&eacute;n las obras de mejoramiento de la plaza Santiago Gij&oacute;n y otros trabajos de habilitaci&oacute;n de espacios p&uacute;blicos en la comuna de Palmilla.<br /><br />Estas obras se centraron, fundamentalmente, en mejorar las condiciones f&iacute;sicas y ambientales del n&uacute;cleo de Palmilla centro, con el fin de estimular el desarrollo econ&oacute;mico, social y cultural de la comuna, siendo la remodelaci&oacute;n de la Plaza uno de sus principales ejes. <br /><br />Se pens&oacute; como una soluci&oacute;n a los da&ntilde;os ocasionados producto del terremoto de 2010 que caus&oacute; graves da&ntilde;os en la propiedad p&uacute;blica y privada del &aacute;rea urbana de la comuna. Por otro lado, tambi&eacute;n se sum&oacute; la necesidad de una cohesi&oacute;n urbana que permitiera potenciar las actividades econ&oacute;micas y culturales propias de la localidad en su centro urbano.</p>', CAST(N'2017-02-28T11:19:19.207' AS DateTime), N'UserTest')
SET IDENTITY_INSERT [dbo].[Auditoria] OFF
SET IDENTITY_INSERT [dbo].[Contenido_Logo] ON 

INSERT [dbo].[Contenido_Logo] ([IdContenidoLogo], [RutaFisica], [Imagen], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), N'G:\SitiosWeb\Minvu0013\QAPortalDom\Content\Img\logo\', N'270220171808503478logo-DOM.png', 1)
SET IDENTITY_INSERT [dbo].[Contenido_Logo] OFF
SET IDENTITY_INSERT [dbo].[Contenido_Principal] ON 

INSERT [dbo].[Contenido_Principal] ([IdContenidoPrincipal], [Nombre], [Descripcion], [Icono], [Url], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), N'SECCION 11', N'seccion 11', N'menu1.png', N'http://www.google.cl', 1)
INSERT [dbo].[Contenido_Principal] ([IdContenidoPrincipal], [Nombre], [Descripcion], [Icono], [Url], [Activo]) VALUES (CAST(3 AS Numeric(9, 0)), N'SECCION 12', N'dsada', N'menu1.png', N'https://wwww.youtube.com/watch?v=8K4na6m0pj0', 1)
INSERT [dbo].[Contenido_Principal] ([IdContenidoPrincipal], [Nombre], [Descripcion], [Icono], [Url], [Activo]) VALUES (CAST(7 AS Numeric(9, 0)), N'CONTENIDO ', N'DESC', N'menu1.png', N'#', 1)
SET IDENTITY_INSERT [dbo].[Contenido_Principal] OFF
SET IDENTITY_INSERT [dbo].[Contenido_Secundario] ON 

INSERT [dbo].[Contenido_Secundario] ([IdContenidoSecundario], [Url], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), N'Content/Html/Secundario.html', 1)
INSERT [dbo].[Contenido_Secundario] ([IdContenidoSecundario], [Url], [Activo]) VALUES (CAST(8 AS Numeric(9, 0)), N'https://www.youtube.com/embed/AgAYIs6x85o', 1)
SET IDENTITY_INSERT [dbo].[Contenido_Secundario] OFF
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([IdLog], [TipoAuditoria], [Pagina], [Evento], [Clase], [Cabecera], [Mensaje], [Ip], [Browser], [Fecha], [Usuario]) VALUES (CAST(1 AS Numeric(9, 0)), 1, N'/', N'Index', N'System.Web.Routing.RouteValueDictionary', N'?', NULL, N'127.0.0.1', N'Firefox', CAST(N'2017-02-24T14:19:50.970' AS DateTime), NULL)
INSERT [dbo].[Log] ([IdLog], [TipoAuditoria], [Pagina], [Evento], [Clase], [Cabecera], [Mensaje], [Ip], [Browser], [Fecha], [Usuario]) VALUES (CAST(2 AS Numeric(9, 0)), 1, N'http://localhost:52543/', N'Index', N'Home', NULL, NULL, N'127.0.0.1', N'Firefox', CAST(N'2017-02-24T14:30:59.953' AS DateTime), NULL)
INSERT [dbo].[Log] ([IdLog], [TipoAuditoria], [Pagina], [Evento], [Clase], [Cabecera], [Mensaje], [Ip], [Browser], [Fecha], [Usuario]) VALUES (CAST(3 AS Numeric(9, 0)), 1, N'/', N'Index', N'Home', NULL, NULL, N'127.0.0.1', N'Firefox', CAST(N'2017-02-24T14:34:33.983' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([IdMenu], [IdMenuPadre], [Nombre], [Descripcion], [Url], [Target], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), NULL, N'root', N'root', N'#', 1, 0)
INSERT [dbo].[Menu] ([IdMenu], [IdMenuPadre], [Nombre], [Descripcion], [Url], [Target], [Activo]) VALUES (CAST(2 AS Numeric(9, 0)), CAST(1 AS Numeric(9, 0)), N'Plano Reguladores', N'Plano Reguladores', N'#', 2, 1)
INSERT [dbo].[Menu] ([IdMenu], [IdMenuPadre], [Nombre], [Descripcion], [Url], [Target], [Activo]) VALUES (CAST(3 AS Numeric(9, 0)), CAST(1 AS Numeric(9, 0)), N'Normativa', N'Normativas', N'#', 2, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Noticia] ON 

INSERT [dbo].[Noticia] ([IdNoticia], [Titular], [Bajada], [Cuerpo], [Imagen], [Destacada], [Orden], [FechaPublicacion], [Activo]) VALUES (CAST(9 AS Numeric(9, 0)), N'Ministra Saball encabeza inicio de obras de reposición de viviendas para familias doblemente', N'Estamos no solamente celebrando la entrega de los subsidios e iniciando las obras, sino también impulsando un proceso de reconstrucción que ha sido diseñado en conjunto con las personas y las familias que han resultado damnificadas”, sostuvo la secre', N'<p>Hasta la localidad de Las Papas, ubicada en la comuna de Paredones, regi&oacute;n de O&acute;Higgins, se traslad&oacute; la ministra de Vivienda y Urbanismo (Minvu), Paulina Saball, para encabezar el inicio de obras de reposici&oacute;n de viviendas para cinco familias que resultaron doblemente damnificadas, tanto por el terremoto del 27F de 2010 como por los incendios forestales que recientemente afectaron &eacute;sta y otras regiones del pa&iacute;s.<br /><br />Se trata de familias de zonas rurales de la comuna que quedaron totalmente da&ntilde;adas por los incendios forestales recientes, que son parte de los 128 afectados que dejo el fuego en la regi&oacute;n de O&acute;Higgins, de los cuales 14 familias ya han recibido tarjetas del Banco de Materiales (que permite realizar arreglos y mejoras en las viviendas que resultaron con da&ntilde;o leve) y cinco familias ya han visto iniciadas las obras de reposici&oacute;n completa de sus viviendas.</p>
<p>Junto con saludar y compartir con las familias, la ministra Saball explic&oacute; que &ldquo;este es un momento importante para las familias y para nosotros, porque a ra&iacute;z de los incendios que tr&aacute;gicamente hemos vivido el &uacute;ltimo tiempo, hemos planteado un proceso de mucha participaci&oacute;n y di&aacute;logo, buscando cautelar las particularidades del mundo rural, y este fue el primer grupo de familias con quienes nos reunimos una vez ocurrida la tragedia&rdquo;.</p>
<p>La secretaria de Estado agreg&oacute;, adem&aacute;s, que &ldquo;estamos no solamente celebrando la entrega de los subsidios e iniciando las obras, sino tambi&eacute;n impulsando un proceso de reconstrucci&oacute;n que ha sido dise&ntilde;ado en conjunto con las personas y las familias que han resultado damnificadas&rdquo;.<br /><br />Mar&iacute;a Isabel Gonz&aacute;lez, una de las beneficiarias, sostuvo que &ldquo;por fin voy a poder ver mi casita parada igual que como la ten&iacute;a antes. Ha sido bien r&aacute;pido todo gracias a todos los que han trabajado y ahora solo quiero ver mi casa terminada para poder volver&rdquo;.</p>
<p><strong><u>Espacios p&uacute;blicos</u></strong><br />Durante la jornada, la primera autoridad del Minvu inaugurar&aacute; tambi&eacute;n las obras de mejoramiento de la plaza Santiago Gij&oacute;n y otros trabajos de habilitaci&oacute;n de espacios p&uacute;blicos en la comuna de Palmilla.<br /><br />Estas obras se centraron, fundamentalmente, en mejorar las condiciones f&iacute;sicas y ambientales del n&uacute;cleo de Palmilla centro, con el fin de estimular el desarrollo econ&oacute;mico, social y cultural de la comuna, siendo la remodelaci&oacute;n de la Plaza uno de sus principales ejes. <br /><br />Se pens&oacute; como una soluci&oacute;n a los da&ntilde;os ocasionados producto del terremoto de 2010 que caus&oacute; graves da&ntilde;os en la propiedad p&uacute;blica y privada del &aacute;rea urbana de la comuna. Por otro lado, tambi&eacute;n se sum&oacute; la necesidad de una cohesi&oacute;n urbana que permitiera potenciar las actividades econ&oacute;micas y culturales propias de la localidad en su centro urbano.</p>', N'28022017110231Min Saball las Papas 802.jpg', 1, NULL, CAST(N'2017-02-28T11:19:19.357' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Noticia] OFF
SET IDENTITY_INSERT [dbo].[Organismo] ON 

INSERT [dbo].[Organismo] ([IdOrganismo], [IdOrganismoTipo], [IdOrganismoPadre], [CodigoComuna], [Nombre], [Descripcion], [Icono], [Logo], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), CAST(1 AS Numeric(9, 0)), NULL, NULL, N'Minvu', NULL, NULL, NULL, 1)
INSERT [dbo].[Organismo] ([IdOrganismo], [IdOrganismoTipo], [IdOrganismoPadre], [CodigoComuna], [Nombre], [Descripcion], [Icono], [Logo], [Activo]) VALUES (CAST(2 AS Numeric(9, 0)), CAST(2 AS Numeric(9, 0)), CAST(1 AS Numeric(9, 0)), NULL, N'Seremi Metropolitano', NULL, NULL, NULL, 1)
INSERT [dbo].[Organismo] ([IdOrganismo], [IdOrganismoTipo], [IdOrganismoPadre], [CodigoComuna], [Nombre], [Descripcion], [Icono], [Logo], [Activo]) VALUES (CAST(3 AS Numeric(9, 0)), CAST(3 AS Numeric(9, 0)), CAST(2 AS Numeric(9, 0)), NULL, N'Municipalidad Santiagox', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Organismo] OFF
SET IDENTITY_INSERT [dbo].[Organismo_Tipo] ON 

INSERT [dbo].[Organismo_Tipo] ([IdOrganismoTipo], [Nombre], [Descripcion], [Activo]) VALUES (CAST(1 AS Numeric(9, 0)), N'Minvu', NULL, 1)
INSERT [dbo].[Organismo_Tipo] ([IdOrganismoTipo], [Nombre], [Descripcion], [Activo]) VALUES (CAST(2 AS Numeric(9, 0)), N'Seremi', NULL, 1)
INSERT [dbo].[Organismo_Tipo] ([IdOrganismoTipo], [Nombre], [Descripcion], [Activo]) VALUES (CAST(3 AS Numeric(9, 0)), N'Municipalidad', NULL, 1)
SET IDENTITY_INSERT [dbo].[Organismo_Tipo] OFF
/****** Object:  Index [PK_CONTENIDO_LOGO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Logo] ADD  CONSTRAINT [PK_CONTENIDO_LOGO] PRIMARY KEY NONCLUSTERED 
(
	[IdContenidoLogo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CONTENIDO_PRINCIPAL]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Principal] ADD  CONSTRAINT [PK_CONTENIDO_PRINCIPAL] PRIMARY KEY NONCLUSTERED 
(
	[IdContenidoPrincipal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CONTENIDO_SECUNDARIO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Contenido_Secundario] ADD  CONSTRAINT [PK_CONTENIDO_SECUNDARIO] PRIMARY KEY NONCLUSTERED 
(
	[IdContenidoSecundario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOG]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Log] ADD  CONSTRAINT [PK_LOG] PRIMARY KEY NONCLUSTERED 
(
	[IdLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MENU]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Menu] ADD  CONSTRAINT [PK_MENU] PRIMARY KEY NONCLUSTERED 
(
	[IdMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NOTICIA]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Noticia] ADD  CONSTRAINT [PK_NOTICIA] PRIMARY KEY NONCLUSTERED 
(
	[IdNoticia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NOTICIA_GALERIA]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Noticia_Galeria] ADD  CONSTRAINT [PK_NOTICIA_GALERIA] PRIMARY KEY NONCLUSTERED 
(
	[IdNoticiaGaleria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ORGANISMO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Organismo] ADD  CONSTRAINT [PK_ORGANISMO] PRIMARY KEY NONCLUSTERED 
(
	[IdOrganismo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_ORGANISMO_TIPO]    Script Date: 28-02-2017 17:12:32 ******/
ALTER TABLE [dbo].[Organismo_Tipo] ADD  CONSTRAINT [PK_ORGANISMO_TIPO] PRIMARY KEY NONCLUSTERED 
(
	[IdOrganismoTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Menu]  WITH NOCHECK ADD  CONSTRAINT [FK_Menu_Menu] FOREIGN KEY([IdMenuPadre])
REFERENCES [dbo].[Menu] ([IdMenu])
GO
ALTER TABLE [dbo].[Menu] NOCHECK CONSTRAINT [FK_Menu_Menu]
GO
ALTER TABLE [dbo].[Noticia_Galeria]  WITH CHECK ADD  CONSTRAINT [FK_Noticia_Galeria_Noticia] FOREIGN KEY([IdNoticia])
REFERENCES [dbo].[Noticia] ([IdNoticia])
GO
ALTER TABLE [dbo].[Noticia_Galeria] CHECK CONSTRAINT [FK_Noticia_Galeria_Noticia]
GO
ALTER TABLE [dbo].[Organismo]  WITH NOCHECK ADD  CONSTRAINT [FK_Organismo_Organismo] FOREIGN KEY([IdOrganismoPadre])
REFERENCES [dbo].[Organismo] ([IdOrganismo])
GO
ALTER TABLE [dbo].[Organismo] NOCHECK CONSTRAINT [FK_Organismo_Organismo]
GO
ALTER TABLE [dbo].[Organismo]  WITH CHECK ADD  CONSTRAINT [FK_Organismo_Organismo_Tipo] FOREIGN KEY([IdOrganismoTipo])
REFERENCES [dbo].[Organismo_Tipo] ([IdOrganismoTipo])
GO
ALTER TABLE [dbo].[Organismo] CHECK CONSTRAINT [FK_Organismo_Organismo_Tipo]
GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_HomePage]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_MENU_Select_HomePage]
as
Begin
--07/02/2017 se agrega campo activo a funcion ufn_Menu_Jerarquia y se realiza el filtro por activos al procedure [USP_MENU_Select_HomePage]
	declare @Regs as int
	declare @Count as int
	declare @Hijos as int
	declare @idMenu as int

	set @Regs=0
	set @Count=0
	set @Hijos=0
	set @idMenu=0

	declare @Menu table 
	(
		indice int not null IDENTITY (1,1) ,
		[idMenu] numeric
		,[idMenuPadre] numeric
		,[Nombre] varchar(75)
		,[Url] varchar(256)
		,[Target] numeric
		,Nivel numeric
		,Sort varchar(100)
		,Hijos numeric
		,Activo tinyint
	)

	insert into @Menu (idMenu, idMenuPadre, Nombre,Url,Target,Nivel,Sort,Activo)
	select 	[idMenu],[idMenuPadre],[Nombre],[Url],[Target],Nivel,Orden,Activo 
	from ufn_Menu_Jerarquia()
	where Activo=1
    order by Orden

	--Inicializando 
	update @Menu set Hijos=0

	set @Regs=(select count(1) from @Menu)

	while @Count <= @Regs
	 begin
 
		set @idMenu=(select idMenu from @Menu where indice=@Count)
		set @Hijos=(select count(idMenu) from @Menu where idMenuPadre=@idMenu)

		update @Menu set Hijos=@Hijos where indice=@Count 

		-----------------------------
		set @Hijos=0
		set @count = @Count + 1

	 end

	select 
		[idMenu]
		,[idMenuPadre]
		,[Nombre] 
		,[Url] 
		,[Target] 
		,Nivel 
		,Sort 
		,Hijos
	from 
		@Menu
	where
		idMenu > 1

End

GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_Mantenedor]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_MENU_Select_Mantenedor]
as
Begin
--07/02/2017 se agrega campo activo a funcion ufn_Menu_Jerarquia y se realiza el filtro por activos al procedure [USP_MENU_Select_HomePage]
	declare @Regs as int
	declare @Count as int
	declare @Hijos as int
	declare @idMenu as int

	set @Regs=0
	set @Count=0
	set @Hijos=0
	set @idMenu=0

	declare @Menu table 
	(
		indice int not null IDENTITY (1,1) ,
		[idMenu] numeric
		,[idMenuPadre] numeric
		,[Nombre] varchar(75)
		,[Url] varchar(256)
		,[Target] numeric
		,Nivel numeric
		,Sort varchar(100)
		,Hijos numeric
		,Activo tinyint
	)

	insert into @Menu (idMenu, idMenuPadre, Nombre,Url,Target,Nivel,Sort,Activo)
	select 	[idMenu],[idMenuPadre],[Nombre],[Url],[Target],Nivel,Orden,Activo 
	from ufn_Menu_Jerarquia()
	order by Orden

	--Inicializando 
	update @Menu set Hijos=0

	set @Regs=(select count(1) from @Menu)

	while @Count <= @Regs
	 begin
 
		set @idMenu=(select idMenu from @Menu where indice=@Count)
		set @Hijos=(select count(idMenu) from @Menu where idMenuPadre=@idMenu)

		update @Menu set Hijos=@Hijos where indice=@Count 

		-----------------------------
		set @Hijos=0
		set @count = @Count + 1

	 end

	select 
		[idMenu]
		,[idMenuPadre]
		,[Nombre] 
		,[Url] 
		,[Target] 
		,Nivel 
		,Sort 
		,Hijos
		,activo
	from 
		@Menu
	where
		idMenu > 1

End

GO
/****** Object:  StoredProcedure [dbo].[USP_MENU_Select_Parent]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_MENU_Select_Parent]
as
Begin
--07/02/2017 se agrega campo activo a funcion ufn_Menu_Jerarquia y se realiza el filtro por activos al procedure [USP_MENU_Select_HomePage]
	declare @Regs as int
	declare @Count as int
	declare @Hijos as int
	declare @idMenu as int

	set @Regs=0
	set @Count=0
	set @Hijos=0
	set @idMenu=0

	declare @Menu table 
	(
		indice int not null IDENTITY (1,1) ,
		[idMenu] numeric
		,[idMenuPadre] numeric
		,[Nombre] varchar(75)
		,[Url] varchar(256)
		,[Target] numeric
		,Nivel numeric
		,Sort varchar(100)
		,Hijos numeric
		,Activo tinyint
	)

	insert into @Menu (idMenu, idMenuPadre, Nombre,Url,Target,Nivel,Sort,Activo)
	select 	[idMenu],[idMenuPadre],[Nombre],[Url],[Target],Nivel,Orden,Activo 
	from ufn_Menu_Jerarquia()
	where 
		Activo=1
		and idMenuPadre=1
    order by Orden

	--Inicializando 
	update @Menu set Hijos=0

	set @Regs=(select count(1) from @Menu)

	while @Count <= @Regs
	 begin
 
		set @idMenu=(select idMenu from @Menu where indice=@Count)
		set @Hijos=(select count(idMenu) from @Menu where idMenuPadre=@idMenu)

		update @Menu set Hijos=@Hijos where indice=@Count 

		-----------------------------
		set @Hijos=0
		set @count = @Count + 1

	 end

	select 
		[idMenu]
		,[idMenuPadre]
		,[Nombre] 
		,[Url] 
		,[Target] 
		,Nivel 
		,Sort 
		,Hijos
	from 
		@Menu
	where
		idMenu > 1

End

GO
/****** Object:  StoredProcedure [dbo].[USP_ORGANISMO_Select_Filtro]    Script Date: 28-02-2017 17:12:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[USP_ORGANISMO_Select_Filtro]
	@Nombre as varchar(75)
AS
BEGIN
	 --SET NOCOUNT ON added to prevent extra result sets from
	 --interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @strSql varchar(8000)
	set @strSql=''

	set @strSql = '
		SELECT 
			a.idorganismo
			,a.idorganismotipo
			,a.idorganismopadre
			,a.nombre
			,a.descripcion
			,a.icono
			,a.logo
			,a.activo
			,a.Nivel
			,a.Orden
			,b.Nombre OrganismoPadre
			,c.Nombre OrganismoTipo
		FROM 
			ufn_Organismo_Jerarquia() a left outer join organismo b
			 on a.idorganismoPadre=b.idorganismo
			join organismo_tipo c
			 on a.idorganismotipo=c.idorganismotipo
	'

	IF LEN(@Nombre) > 0
	 begin
		set @strSql = @strSql + ' WHERE lower(a.nombre) like ''' + lower(@Nombre) + '%'''
	 end

	set @strSql = @strSql + '
		ORDER BY
			a.Orden
		'

	print @strSql
	exec(@strSql)

	
	--SELECT 
	--	a.idorganismo
	--	,a.idorganismotipo
	--	,a.idorganismopadre
	--	,a.nombre
	--	,a.descripcion
	--	,a.icono
	--	,a.logo
	--	,a.activo
	--	,a.OrganismoTipo
	--	,a.Nivel
	--	,a.Orden
	--	,b.nombre OrganismoPadre
	--FROM 
	--	ufn_Organismo_Jerarquia() a inner join organismo b
	--	 on a.idorganismo=b.idorganismo
	

END


GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'IdAuditoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador del tipo de auditoria realizada (1:Insert / 2: Update / 3:Delete)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'TipoTransaccion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de la tabla en la cual se realiza la transacción' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Tabla'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador unico del registro que se modifica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'CodigoTablaOrigen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Campo el cual se modifico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Campo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valor Original del contenido en el campo que se modifica' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'ValorOriginal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha en la cual se realiza la transaccion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que origina el registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria', @level2type=N'COLUMN',@level2name=N'Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla encargada de almacenar las transacciones realizadas en las diferentes tablas. Se procederá a guardar la información referente a las transacciones del tipo INSERT, UPDATE y DELETE por medio de de TRIGGERS incluidos en cada una de las tablas' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Auditoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'IdContenidoLogo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Físico Imagen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'RutaFisica'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo Imagen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'Imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla es la encargada de almacenar el logo del Portal DOM y solamente eso. El logo que puede ser utilizado por otras reparticiones municipales od el ministerio' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Logo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'IdContenidoPrincipal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Denominación distintiva del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Explicación detallada de las cualidades del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo del icono' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Icono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Url destino' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla almacena el contenido principal que se desplegará en el Portal DOM en Linea. Se entiende como contenido principal los fragmentos de las secciones que sirven para acceder a recursos de otros sitios' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Principal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'IdContenidoSecundario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Url destino' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla se encarga de almacenar el contenido secundario de las secciones del portal DOM, vale decir el texto descriptivo de las secciones' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Contenido_Secundario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'IdLog'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece el tipo de auditoria (0:Select / 1:Error / 2: Login / 3: Carga Pagina)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'TipoAuditoria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pagina en la cual se gatilla el evento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Pagina'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Evento ejecutado' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Evento'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Clase de negocio relacionado con el evento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Clase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cabezera del evento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Cabecera'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mensaje del evento' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Mensaje'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IP del usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Ip'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Browser utilizado por el usuario' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Browser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha Creacion de Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Fecha'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuario que origina el registro (Solo si se tiene disponible)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log', @level2type=N'COLUMN',@level2name=N'Usuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla encargada de guardar todos los eventos que se sucedan en el aplicativo, incluyendo que y cuando esto sucede' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Log'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'IdMenu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea desde la misma tabla Menu que referencia al registro padre del registro actual.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'IdMenuPadre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Denominación distintiva del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Explicación detallada de las cualidades del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Url destino' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Url'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece el lugar donde se mostrará el Link (1:Blank / 0:Self)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Target'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla es la encargada de almacenar los menus que se utilizarán en el Administrador de Contenido. Se utilizara para poder visualizar las opciones disponibles y su ubicación como recurso' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Menu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'IdNoticia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Titular de la Noticia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Titular'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bajada de la Noticia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Bajada'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cuerpo de la Noticia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Cuerpo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo Imagen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Destacada / 0: No Destacada' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Destacada'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Establece orden de aparicion de una noticia' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Orden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de Publicacion' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'FechaPublicacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla se encarga de almacenar las noticias del portal DOM que serán visibles en la página principal del portal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'IdNoticiaGaleria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea desde la tabla Noticia.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'IdNoticia'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo Imagen' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Imagen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Explicación detallada de las cualidades del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Esta tabla se encarga de almacenar las galerias correspendientes a una noticia en particular, la cual está asociada a la noticia principal' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Noticia_Galeria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea desde la tabla Organismo_Tipo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismoTipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foránea desde la propia tabla Organismo. Hace referencia al registro padre del registro actual.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'IdOrganismoPadre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Código de comuna definido por la SEGPRES' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'CodigoComuna'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Denominación distintiva del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Explicación detallada de las cualidades del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo del icono' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Icono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Path Relativo Logo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Logo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla encargada de almacenar los organismos a los cuales pertenecen los usuarios de DOM' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador Unico' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'IdOrganismoTipo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Denominación distintiva del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Explicación detallada de las cualidades del Registro' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Descripcion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: Activo / 0:Inactivo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo', @level2type=N'COLUMN',@level2name=N'Activo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla encargada de almacenar los diferentes tipos de Organismos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Organismo_Tipo'
GO
