@{
    ViewBag.Title = "Presentación Clave Única ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 id="encabezados" class="titles-site">
            ¿Desea acceder a DOM en Línea?
        </h2>
    </div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
        <p class="text-justify">
            Si usted desea acceder a nuestra Plataforma DOM en Línea debe hacerlo a traves de Clave Única.
            <br /><br />
            En nuestra plataforma nacional de trámites usted puede realizar todos las solicitudes y gestionar sus procesos de trámites totalmente en línea y con recursos tecnológicos que facilitan la tarea del contribuyente y de las oficinas DOM municipales.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
        <a href="@Url.Action("ObtenerUrl", "ClaveUnica")"><img src="~/Content/Img/btn_claveunica_172px.png" alt="Clave Única" /></a>
    </div>
</div>