@using QrMvc.Models
<div class="content px-2">
    <blockquote class="quote-info mt-0">
        <h5 id="tip">HtmlTable</h5>
        <p>Pruebas HtmlTableHelper 1.31</p>
        <p>Pruebas jquery.dataTables 1.13</p>
        <p>Pruebas Html2Pdf 0.10</p>
    </blockquote>
</div>
<div>
    <a id="btnTable2Pdf" class="btn btn-primary">Tabla a PDF <i class="bi bi-file-earmark-pdf"></i></a>
    @Html.Raw(ViewBag.Table)
</div>
@section Scripts {
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {
            $('Table').DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            });



            $("#btnTable2Pdf").on("click", function () {
                var element = document.getElementById('DataTables_Table_0');
                var opt = {
                    margin: 1,
                    filename: 'html2pdf.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };

                // New Promise-based usage:
                html2pdf().set(opt).from(element).save();
            });
       


        });
    </script>
}
@section Styles {
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
}

